
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>email di conferma Prenota</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
        body{
    text-align: center !important;
        }
        p{
            font-size: 13px;
        }

        img{
            display: block;
            object-fit: cover;
            width: 100%;
            top: 0;
        }
          @media(min-width: 500px){
              p span span{
                  display: none;
              }
          }
    </style>
</head>
<body style="margin: 0px; padding: 40px 0px; background-color: #fff; text-align: center; @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Rubick', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700|Open+Sans:300,400,600,700);
font-family: 'Comfortaa', sans-serif; " >
<div style="max-width: 700px;  margin: auto; width: 100%; border: solid 1px #00479d; border-radius: 10px; overflow: hidden;">
    <div style="font-family: 'Comfortaa', sans-serif; color: #0061d5;">
        <h1 style="font-weight: 700;font-size: 32px;font-family: 'Comfortaa', sans-serif;">prenota</h1>
        <h4 style="font-family: 'Comfortaa', sans-serif;">appuntamenti online a Trieste</h4>
    </div>
    <div style="text-align: left; background: #f3f3ff; margin: auto; width: 90%;  border-radius: 10px; font-family: 'Rubick', sans-serif; padding: 10px;">
            <h1 style="color: #00479d; font-size: 21px;">Conferma di prenotazione</h1>
            <p style="color: #212121;">Gentile <span style='text-transform: capitalize;'>{{surname}}</span> <span style='text-transform: capitalize;'>{{name}}</span> , il suo appuntamento è stato fissato in data <b>{{day}} {{month}} {{year}}</b> alle <b>{{time}}</b> presso <b>{{shop}}</b> in <b>{{address}}</b>.</p>
            <!--<p style="color: #212121;">Può vedere i suoi appuntamenti  <a href="https://prenota.cc/i_miei_appuntamenti">qui</a></p>-->
            <!--<p style="color: #212121;">Oppure scaricare l'app Prenota, da tutti gli store!</p>-->
    </div>

    <!--<div style="text-align: center; margin-top: 10px;  border-radius: 10px; font-family: 'Rubick', sans-serif; padding: 10px;">-->
    <!--        <div style="width: 45%; text-align: center; display: inline-block;">-->
    <!--                <a href="https://apps.apple.com/it/app/prenota/id1523525291?l=en" style="color: #00479d;">-->
    <!--    <div style="display: inline-block; background: #f3f3ff; width: 150px; height: 150px; margin: auto; border-radius: 10px;">-->
    <!--                <div style="width: 100px; height: 100px; padding: 25px;">-->
    <!--                        <img src='https://firebasestorage.googleapis.com/v0/b/prenota-d8fae.appspot.com/o/app-store.png?alt=media&token=8ccf1116-d844-4ed1-810d-8a12c37b989b' style='display: block;-->
    <!--            object-fit: cover;-->
    <!--            width: 100%;-->
    <!--            top: 0;'/>-->
    <!--                </div>-->
    <!--                <div>-->
    <!--                    <p style="color: #212121;">App Store - Telefoni Apple</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--            <div style="width: 45%; text-align: center; display: inline-block;">-->
    <!--                    <a href="https://play.google.com/store/apps/details?id=io.prenota.client&hl=en" style="color: #00479d;">-->
    <!--            <div style="display: inline-block; background: #f3f3ff; width: 150px; height: 150px; margin: auto; border-radius: 10px;">-->
    <!--                    <div style="width: 100px; height: 100px; padding: 25px;">-->
    <!--                      <img src='https://firebasestorage.googleapis.com/v0/b/prenota-d8fae.appspot.com/o/google-play.png?alt=media&token=66ec5cf7-d478-4b26-9c99-5738d46d74c8' style='display: block;-->
    <!--            object-fit: cover;-->
    <!--            width: 100%;-->
    <!--            top: 0;'/>-->
    <!--            </div>-->
    <!--                        <div>-->
    <!--                            <p style="color: #212121;">Google Play - Telefoni Android</p>-->
    <!--                            </div>-->
    <!--            </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--</div>-->
   <h4 style="font-family: 'Rubick', sans-serif; font-size: 21px; color: #00479d; padding: 0px 20px;">Prenota è un servizio gratuito creato da 2 ragazzi di Trieste.</h4>
   <p style="font-family: 'Rubick', sans-serif; font-size: 15px; color: #212121; padding: 0px 20px;"> Se ti è piaciuto prenotare online, e vorresti poterlo fare presso altre attività  (ad es. il suo parrucchiere, o medico),  ci aiutererebbe molto se gliene parlassi! <span><span>😁</span></span><br><b>Riceverai 15€ per ogni atttività che si iscrive</b></p> <p style="font-family: 'Rubick', sans-serif; font-size: 15px; color: #212121; padding: 0px 20px;">Grazie da Giacomo e Francesco</p>
    <!--<div style="text-align: center; margin-top: 10px;  border-radius: 10px; font-family: 'Rubick', sans-serif; padding: 10px;">-->
    <!--        <div style="width: 30%; text-align: center; display: inline-block;">-->
    <!--                <a href="https://prenota.cc/cmassaggi" style="color: #00479d;">-->
    <!--    <div style="display: inline-block; background: #f3f3ff; width: 100px; height: 100px; margin: auto; border-radius: 10px;">-->
    <!--                <div style="width: 40; height: 40; padding: 30px;">-->
    <!--                           <img src='https://firebasestorage.googleapis.com/v0/b/prenota-d8fae.appspot.com/o/massage.png?alt=media&token=0a45bd48-cadd-4f27-97d5-a2d5cd02d4b2' style='display: block;-->
    <!--            object-fit: cover;-->
    <!--            width: 100%;-->
    <!--            top: 0;'/>-->
    <!--                </div>-->
    <!--                <div>-->
    <!--                    <p>Studi massaggi</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--            <div style="width: 30%; text-align: center; display: inline-block;">-->
    <!--                    <a href="https://prenota.cc/booking" style="color: #00479d;">-->
    <!--            <div style="display: inline-block; background: #f3f3ff; width: 100px; height: 100px; margin: auto; border-radius: 10px;">-->
    <!--                    <div style="width: 40; height: 40; padding: 30px;">-->
    <!--                      <img src='https://firebasestorage.googleapis.com/v0/b/prenota-d8fae.appspot.com/o/stethoscope.png?alt=media&token=0d048c21-3c49-4423-a53a-6026fe3697ff' style='display: block;-->
    <!--            object-fit: cover;-->
    <!--            width: 100%;-->
    <!--            top: 0;'/>-->
    <!--            </div>-->
    <!--                        <div>-->
    <!--                            <p>Studi Medici</p>-->
    <!--                            </div>-->
    <!--            </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div style="width: 30%; text-align: center; display: inline-block;">-->
    <!--                <a href="https://prenota.cc/home/ricerca/parrucchieri" style="color: #00479d;">-->
    <!--        <div style="display: inline-block; background: #f3f3ff; width: 100px; height: 100px; margin: auto; border-radius: 10px;">-->
    <!--                <div style="width: 40; height: 40; padding: 30px;">-->
    <!--                 <img src='https://firebasestorage.googleapis.com/v0/b/prenota-d8fae.appspot.com/o/salon.png?alt=media&token=3036d86a-7952-4721-83f1-cbe8a5a86c08' style='display: block;-->
    <!--            object-fit: cover;-->
    <!--            width: 100%;-->
    <!--            top: 0;'/>-->
    <!--        </div>-->
    <!--                    <div>-->
    <!--                        <p>Parrucchieri</p>-->
    <!--                        </div>-->
    <!--        </div>-->
    <!--        </a>-->
    <!--    </div>-->
    <!--</div>-->
    <div style="background: #0061d5; padding: 20px 0px;margin-top:20px">
<div style="width: 45%; text-align: center; display: inline-block; color:white; font-size:11px; font-family: 'Rubick', sans-serif;">
        Numero di cellulare: <br><br>+39 340 4526854
</div>
<div style="width: 45%; text-align: center; display: inline-block; color:white; font-size:11px; font-family: 'Rubick', sans-serif;">
        Email: <br><br>business@prenota.cc
</div>
    </div>


</div>
</body>