<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Reset Password Inviata</title>
    <meta name="description" content="Reset Password Email Template.">
    <style type="text/css">
        a:hover {text-decoration: underline !important;}
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #fff; text-align: center; @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Rubick', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700|Open+Sans:300,400,600,700);
font-family: 'Comfortaa', sans-serif; " leftmargin="0" >
    <h1 style="font-size: 56px; color: #0061d5; font-family: 'Comfortaa', sans-serif; ">prenota</h1>
    <h3 style="font-family: 'Rubick', sans-serif;color: #4f4f4f; font-weight: 500; margin-top: 50px; padding:40px">Ti abbiamo inviato un'email con le istruzioni per impostare la tua password, se esiste un account con l'email che hai inserito. Dovresti riceverla a breve.</h3>
    <h3 style="font-family: 'Rubick', sans-serif;color: #4f4f4f; font-weight: 500; padding:40px">Se non ricevi un'email, assicurati di aver inserito l'indirizzo con cui ti sei registrato e controlla la cartella dello spam.</h3>


  </body>

  </html>