
<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Reset Password Email Template</title>
    <meta name="description" content="Reset Password Email Template.">
    <style type="text/css">
        a:hover {text-decoration: underline !important;}
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #fff; text-align: center; @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Rubick', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700|Open+Sans:300,400,600,700);
font-family: 'Comfortaa', sans-serif; " leftmargin="0" >
    <h1 style="font-size: 56px; color: #0061d5; font-family: 'Comfortaa', sans-serif; ">prenota</h1>
    <h3 style="font-family: 'Rubick', sans-serif;color: #4f4f4f; font-weight: 500;">Hai dimenticato la password?</h3>
    <div style="width: max-content; color: white; border-radius: 15px;margin: 20px auto; background: #0061d5; box-shadow: 0  5px 10px #00000055; text-align: left; padding: 10px 40px 40px 40px;">
      <p style="font-family: 'Rubick', sans-serif;">Inserisci qui sotto la tua email</p>
     <form method="post">
         	{% csrf_token %}
      <input type="email" name="email" maxlength="254" required="" id="id_email"style="width: 30vw; padding: 10px 30px; font-size: 15px; line-height: 15px; display: inline-block;">
      <button type='subit' name="Send email" style=" margin-left: 30px;height:45px; border-radius: 3px;padding: 10px 30px; font-size: 15px; background-color: #00497d; border: none;line-height: 15px; display: inline-block; color: #fff; font-weight: 700;">Cambia password</button>
   </form>
    </div>

  </body>

  </html>




  </body>

  </html>